<h1>Descrição da Task</h1>
<form>
    <div class="form-control">
        <label for="title">Título: </label>
        <p>{{task.title}}</p>
    </div>
    <div class="form-control">
        <label for="description">Descrição: </label>
        <p>{{task.description}}</p>
    </div>
</form>